*{
    padding:0;
    margin: 0;
}

.wrap{
    position: absolute;
    z-index: 99;
    width: 260px;
    height: 100%;
    background:rgba(0,0,0,0);
}
/* .header{
     background: rgba(20, 194, 224, 0.5);
    width: 100%;
    height: 65px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 65px; 
}*/
.nav{
    width:250px;
    margin: 10px 5px 0;
}
.list{
    margin-bottom: 5px;
}
.list h2{
    position: relative;
    padding: 15px 0;
    background: rgba(20, 194, 224, 0.5);
    text-align: center;
    font-size: 16px;
    color: #fff;
    transition: .5s;
}
.list h2.on{
    background-color: #393c4a;
}
.list i{
    position: absolute;
    right: 10px;
    top: 16px;
    /* border: 8px solid transparent; */
    border-left-color: #fff;/*triangle*/
    transform:rotate(0deg);
    transform-origin: 1px 8px;
    transition: .5s;
}
.list i.on{
    transform:rotate(90deg);
}
.hide{
    overflow: hidden;
    height: 0;
    transition: .5s;
}
.hide h5{
    padding: 10px 0;
    background-color: #282c3a;
    text-align: center;
    color:#fff;
    border-bottom:#42495d;
}

